.navbar {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    z-index: 1000; 
	background-color: var(--color-primary); 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-light);
	display: flex;
	align-items: center;
}

.navbar .logo span {
	color: var(--color-accent);
	margin-right: 0.5rem;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav-links li a {
	color: var(--color-lighter);
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
	color: var(--color-light);
}

/* Hamburger menu */
.hamburger-menu {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	flex-direction: column;
	gap: 5px;
}

.hamburger-menu .bar {
	width: 25px;
	height: 3px;
	background-color: var(--color-light);
	transition: transform 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 768px) {
	.nav-links {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: var(--color-primary);
		padding: 1rem;
	}

	.nav-links.active {
		display: flex;
	}

	.hamburger-menu {
		display: flex;
	}
}

.section-title {
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-lightest);
	text-align: center;
	position: relative;
	margin-bottom: 1rem;
}
  
.section-title::after {
	content: '';
	display: block;
	width: 60px;
	height: 2px;
	margin: 0.5rem auto 0;
	background-color: var(--color-secondary);
}
  
.about-me {
	background: linear-gradient(180deg, var(--color-primary), var(--color-accent));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
	width: 100%;
}

.about-text {
	flex: 2;
	min-width: 300px;
}

.about-text h1 {
	font-size: 3rem;
	color: var(--color-lighter);
	margin-bottom: 1rem;
}

.about-text h4 {
	color: white;
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.about-text p {
	font-size: 1.1rem;
	color: var(--color-lightest);
	line-height: 1.6;
}

.about-image {
	flex: 1;
	text-align: right;
}

.about-image img {
    margin: 0 auto;
	max-width: 60%;
	border-radius: 50%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about-image img {
	transition: transform 0.5s ease;
}

.about-image img:hover {
	transform: rotate(360deg);
}

  
@media (max-width: 768px) {
    .about-me {
		padding: 3rem 1rem;
		text-align: center;
	}
	.about-me {
		flex-direction: column;
		text-align: center;
	}
	.about-content {
		flex-direction: column;
	}
	.about-text {
		text-align: center;
	}
	.about-image {
		text-align: center; 
	}
	.about-image img {
		max-width: 20%;
	}
}

.decorative-line {
	width: 100px; 
	height: 4px; 
	background-color: var(--color-light); 
	margin-bottom: 1rem;
}
@media (max-width: 768px) {
	.decorative-line {
		width: 40px; 
	}
}

#skills {
	background: linear-gradient(180deg, var(--color-accent), var(--color-light));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	text-align: center; 
	background-color: var(--color-light);
	display: flex; 
	flex-direction: column; 
	position: relative;
}

#skills h2 {
	color: var(--color-primary);
}

#skills h4 {
	color: var(--color-primary);
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

#skills p {
	margin-bottom: 2rem;
	color: var(--color-dark);
	font-size: 1.1rem;
}

.skills-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2rem; 
    margin-top: 2rem; 
}

@keyframes shake {
	0%, 100% {
	  transform: translateX(0) scale(1);
	}
	25% {
	  transform: translateX(-4px) scale(1.5);
	}
	50% {
	  transform: translateX(4px) scale(1.5);
	}
	75% {
	  transform: translateX(-4px) scale(1.5);
	}
}
  
.skill-icon {
    font-size: 3.5rem;
    color: var(--color-secondary);
    transition: transform 0.3s ease; 
    text-align: center;
}

.skill-icon:hover {
    color: var(--color-primary);
	animation: shake 0.5s ease;
}

@media (max-width: 768px) {
	#skills {
		align-items: center;
		text-align: center;
	}

	.skills-grid {
		width: 100%; 
		justify-content: center;
	}
}

#projects {
	background: linear-gradient(180deg, var(--color-light), var(--color-accent));
	padding: 5rem 2rem;
	text-align: center;
	color: var(--color-lighter);
}

#projects h2 {
	color: var(--color-primary);
}

#projects h4 {
	color: var(--color-primary);
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.projects-list {
	display: flex;
	flex-direction: column;
  gap: 1.5rem;
}
  
.project-card {
	background-color: var(--color-secondary);
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	display: flex; 
	align-items: center;
	gap: 1rem;
	transition: transform 0.3s ease, background-color 0.3s ease;
	flex: 1; 
}

.project-card:hover {
	background-color: var(--color-primary);
}

.project-logo img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.project-details {
	flex: 1;
}

.project-details h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: #ffffff;
}

.project-details .project-role {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: #a0a0a0;
}

.project-details .project-dates {
	font-size: 0.9rem;
	color: #808080;
	margin-bottom: 0.5rem;
}

.project-details .project-description {
	font-size: 1rem;
	line-height: 1.5;
	color: #d4d4d4;
}
  
#certifications {
	background: linear-gradient(180deg, var(--color-accent), var(--color-secondary));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	text-align: center;
}

#certifications h2 {
	color: #00143c;
}

#certifications  h4 {
	color: #00143c;
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.certifications-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1.5rem;
}

.certification-button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 8px; 
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.certification-button:hover {
    background-color: var(--color-primary);
    color: var(--color-lighter);
    transform: scale(1.05); 
}

@media (max-width: 768px) {
	#certifications {
		align-items: center; 
		text-align: center;
	}

	#certifications p {
		width: 100%;
	}
	.certification-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}


#contact {
    background: linear-gradient(180deg, var(--color-secondary), var(--color-primary));
    color: var(--color-lighter);
    text-align: center;
    padding: 5rem 2rem;
}

#contact h2 {
    color: white;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.social-links a {
    color: white;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: var(--color-light);
}

footer {
    background-color: var(--color-primary);
    color: var(--color-lighter);
    text-align: center;
    padding: 1rem;
}

main {
	margin-top: 50px; 
}  