/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    z-index: 1000; 
	background-color: var(--color-primary); 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-light);
	display: flex;
	align-items: center;
}

.navbar .logo span {
	color: var(--color-accent);
	margin-right: 0.5rem;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav-links li a {
	color: var(--color-lighter);
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
	color: var(--color-light);
}

/* Responsividad */
@media (max-width: 768px) {
	.nav-links {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}
}

/* About Me Section */
.about-me {
	background: linear-gradient(180deg, var(--color-primary), var(--color-accent));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
	width: 100%;
}

.about-text {
	flex: 2;
	min-width: 300px;
}

.about-text h1 {
	font-size: 3rem;
	color: var(--color-lighter);
	margin-bottom: 1rem;
}
/* About me section */
.about-text p {
	font-size: 1.1rem;
	color: var(--color-lightest);
	line-height: 1.6;
}

.about-image {
	flex: 1;
	text-align: right;
}

.about-image img {
    margin: 0 auto;
	max-width: 60%;
	border-radius: 50%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    .about-me {
		padding: 3rem 1rem;
		text-align: center;
	}
	.about-me {
		flex-direction: column;
		text-align: center;
	}
	.about-content {
		flex-direction: column;
	}
	.about-text {
		text-align: center;
	}
	.about-image {
		text-align: center; 
	}
	.about-image img {
		max-width: 20%;
	}
}
/* Línea decorativa */
.decorative-line {
	width: 100px; 
	height: 4px; 
	background-color: var(--color-light); 
	margin-bottom: 1rem;
}
@media (max-width: 768px) {
	.decorative-line {
		width: 40px; 
	}
}

/* Certifications section */
#certifications {
	background: linear-gradient(180deg, var(--color-accent), var(--color-light));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	text-align: center;
}

#certifications h2 {
	color: var(--color-primary);
}

#certifications p {
	color: var(--color-lighter);
	font-size: 1.2rem;
	line-height: 1.6;
}

@media (max-width: 768px) {
	#certifications {
		align-items: center; 
		text-align: center;
	}

	#certifications p {
		width: 100%;
	}
}

/* Skills Section */
#skills {
    background: linear-gradient(180deg, var(--color-light), var(--color-accent));
	color: var(--color-lighter);
	padding: 5rem 2rem;
	text-align: center; 
	background-color: var(--color-light);
	display: flex; 
	flex-direction: column; 
	position: relative;
}

#skills h2 {
	color: var(--color-primary);
}

#skills p {
	margin-bottom: 2rem;
	color: var(--color-dark);
	font-size: 1.1rem;
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 1rem;
	justify-content: center;
}

.skills-grid i {
	font-size: 3rem;
	color: var(--color-secondary);
	transition: transform 0.3s ease, color 0.3s ease;
}

.skills-grid i:hover {
	transform: scale(1.2);
	color: var(--color-primary);
}

@media (max-width: 768px) {
	#skills {
		align-items: center;
		text-align: center;
	}

	.skills-grid {
		width: 100%; 
		justify-content: center;
	}
}

/* Projects Section */
#projects {
    background: linear-gradient(180deg, var(--color-accent), var(--color-secondary));
	padding: 5rem 2rem;
	text-align: center;
	color: var(--color-lighter);
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

.project-card {
	background-color: var(--color-light);
	color: var(--color-primary);
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.project-card img {
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.project-card h2 {
	color: var(--color-lighter);
}

.project-card h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.project-card p {
	font-size: 1rem;
	margin-bottom: 1rem;
	color: var(--color-secondary);
}

.project-card .btn {
	background-color: var(--color-accent);
	color: var(--color-lighter);
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.project-card .btn:hover {
	background-color: var(--color-primary);
}

/* Contacto */
#contact {
    background: linear-gradient(180deg, var(--color-secondary), var(--color-primary));
    color: var(--color-lighter);
    text-align: center;
    padding: 5rem 2rem;
}

#contact h2 {
    color: white;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.social-links a {
    color: white;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: var(--color-light);
}

/* Pie de página */
footer {
    background-color: var(--color-primary);
    color: var(--color-lighter);
    text-align: center;
    padding: 1rem;
}

main {
	margin-top: 50px; 
}